{% extends 'layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
<h2>Promouvoir l'utilisateur {{ user.prenom ~ ' ' ~ user.nom }} en Admin</h2>

    {{ form(formPromote) }}
{% endblock %}